# Compiled binaries / build artifacts
*.o
*.out
a.out
oop-abstractions
oop-virtualFunctions
oop_access_modifiers
oop_copy_constructors
oop_polymorphism
oop_polymorphism_02
quiz_game
static_keyword
stl
test

# compiled binaries accidentally committed with stl files
09_stl/02_more_about_vectors
09_stl/03_vector_iterators
09_stl/04_list_containers
09_stl/05_deque_container
09_stl/06_pair_container
09_stl/07_stack
